body  
{
	font-family: "New Century Schoolbook", serif;
	color: #DBA901;
	margin: 0;
	
	background: #0B610B;
	
}

.img
{
	clear: both;
	float: left;
	padding-top: 1%;
	height: auto;
	max-width: 250px;
	width: 30%;
}

h1 h2 h3 h4
{
	text-align: center;
}

.master
{
	text-align: center;
	font-size: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 1000px;
}

.imagemaster
{
	width: 100%;
	overflow: hidden;
}

.wrapper
{
	height: opx;
	position: relative;
	padding-bottom: 56.25%;
	overflow: none;
}

.wrapper iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nav ul
{
	list-style: none;
	background-color: #B40404;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav list-style
{
	font-family: "New Century Schoolbook", serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}

.nav a
{
	text-decoration: none;
	color: #DBA901;
	display: block;
	transition: 3.s background-color;
}

.nav a:hover
{
	background-color: #0B610B;
	font-size: 1.3em;
}

	@media screen and (min-width: 600px)
	{
		.nav li
		{
			width: 120px;
			border-bottom: none;
			height: 50px;
			line-height; 50px;
			font-size: 1.6em;
			display: inline-block;
			margin-right: -4;
		}
	}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}